<%= form_with(model: responsavel) do |form| %>
  <% if responsavel.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(responsavel.errors.count, "error") %> prohibited this responsavel from being saved:</h2>

      <ul>
        <% responsavel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :cpf, style: "display: block" %>
    <%= form.text_field :cpf %>
  </div>

  <div>
    <%= form.label :endereco, style: "display: block" %>
    <%= form.text_field :endereco %>
  </div>

  <div>
    <%= form.label :matricula, style: "display: block" %>
    <%= form.text_field :matricula %>
  </div>

  <div>
    <%= form.label :telefone, style: "display: block" %>
    <%= form.text_field :telefone %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :turma, style: "display: block" %>
    <%= form.text_field :turma %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
