<div id="<%= dom_id responsavel %>">
  <p>
    <strong>Nome:</strong>
    <%= responsavel.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= responsavel.cpf %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= responsavel.endereco %>
  </p>

  <p>
    <strong>Matricula:</strong>
    <%= responsavel.matricula %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= responsavel.telefone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= responsavel.email %>
  </p>

  <p>
    <strong>Turma:</strong>
    <%= responsavel.turma %>
  </p>

</div>
