<div id="<%= dom_id equipamento %>">
  <p>
    <strong>ID:</strong>
    <%= equipamento.id %>
  </p>
  <p>
    <strong>Identificador:</strong>
    <%= equipamento.identificador %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= equipamento.tipo %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= equipamento.descricao %>
  </p>

  <p>
    <strong>Condicao:</strong>
    <%= equipamento.condicao %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= equipamento.status %>
  </p>

</div>
