<div id="<%= dom_id objeto %>">
  <p>
    <strong>Codigo:</strong>
    <%= objeto.codigo %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= objeto.tipo %>
  </p>

  <p>
    <strong>Descricacao:</strong>
    <%= objeto.descricacao %>
  </p>

  <p>
    <strong>Condicao:</strong>
    <%= objeto.condicao %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= objeto.status %>
  </p>

</div>
