<p style="color: green"><%= notice %></p>

<h1>Objetos</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Tipo</th>
      <th scope="col">Disponibilidade</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <% @objetos.each do |objeto| %>
    <td><%= objeto.codigo %></td>
    <td><%= objeto.tipo %></td>
    <td><%= objeto.status %></td>
    <td><%= link_to "Show this objeto", objeto %></td>

</tr>
      
    
  <% end %>
   </tbody>
</table>
</div>
  
  <%= paginate @objetos%>

</nav>


<%= link_to "New objeto", new_objeto_path %>
