<div id="<%= dom_id emprestimo %>">
  <p>
    <strong>Data emprestimo:</strong>
    <%= emprestimo.data_emprestimo %>
  </p>

  <p>
    <strong>Data devolucao:</strong>
    <%= emprestimo.data_devolucao %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= emprestimo.status %>
  </p>

  <p>
    <strong>Observacacao:</strong>
    <%= emprestimo.observacacao %>
  </p>

  <p>
    <strong>Locador:</strong>
    <%= emprestimo.locador_id %>
  </p>

</div>
