<div id="<%= dom_id emprestimo %>">
  <p>
    <strong>Data emprestimo:</strong>
    <%= emprestimo.data_emprestimo %>
  </p>

  <p>
    <strong>Data devolucao:</strong>
    <%= emprestimo.data_devolucao %>
  </p>

  <p>
    <strong>Status:</strong>
    <% if emprestimo.status == true 
      @status = "Aberto"
      else
      @status = "Fechado"
    end
    %>
    <%= @status %>
  </p>
  <p>
    <strong>Observacacao:</strong>
    <%= emprestimo.observacacao %>
  </p>

  <p>
    <strong>Locador:</strong>
    <%= emprestimo.locador.nome %>
  </p>

  <p>
    <strong>Objeto</strong>
    
    <%= emprestimo.objeto.codigo + emprestimo.objeto.tipo %>
  </p>


</div>
