<div class = "container">
  <p style="color: green"><%= notice %></p>

  <h1>Emprestimos</h1>
  <div>
    <%= link_to "New emprestimo", new_emprestimo_path, :class => "btn btn-success"  %>
  </div>
  <br>
  <div>
    <%= link_to "Emprestimos Abertos", emprestimos_abertos_path ,:class => "btn btn-info" %>
    <%= link_to "Emprestimos Fechados", emprestimos_fechados_path, :class => "btn btn-info" %>

  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Locador</th>
        <th scope="col">Objeto</th>
        <th scope="col">Data Emprestimo</th>
        <th scope="col">Status</th>
        <th scope="col">Termo de compromisso<th>
        
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @emprestimos.each do |emprestimo| %>
      <tr>
      <td><%= emprestimo.locador.nome %></td>
      <td><%= emprestimo.objeto.codigo %></td>
      <td><%= emprestimo.data_emprestimo %></td>
      <% if emprestimo.status == true 
        @status = "Aberto"
        else
        @status = "Fechado"
      end
      %>
      
      <td><%= @status %></td>


      <td><%= link_to 'Termo de Compromisso', relatorio_path(emprestimo,format: 'pdf') =%></td>
      <td><%= link_to "Detalhar", emprestimo %></td>

    
    </tr> 
    
    <% end %>
      
    </tbody>
  </table>

</div>