<h1>Termo de Compromisso</h1>

<p lang="pt-BR">Eu <%=@emprestimo.locador.nome%> inscrito(a) no CPF sob o nº <%=@emprestimo.locador.cpf%>, morando no endereço <%=@emprestimo.locador.logradouro%>, declaro que irei ser responsável pelo objeto <%=@emprestimo.objeto.codigo%> onde irei zelar pela integridade e me comprometo a entrega-lo até o dia <%=  %></p>
<br>
<br>
<br>
<hr width="100%">