<div class = "container">
  <p style="color: green"><%= notice %></p>

  <%= render @locador %>
  <div class = "d-flex flex-row">
    <div class = "p-2">
      <%= link_to "Editar", edit_locador_path(@locador), :class => "btn btn-warning border" %>
      </div>
    
    <div class = "p-2">
      <%= button_to "Apagar", @locador,:class => "btn btn-danger border", method: :delete%>
    </div>

    </div>
    <div class = "p-2">
      <%= link_to "Voltar", locadors_path, :class => "btn btn-primary border"%>
    </div>

</div>
